.header {
  position: fixed;
  height: 3rem;
}

.content {
  position : fixed;
  top : 20%;

}
.nav {
  position: fixed;
  left : 0;
  width: 20%;
}

.main {
  position: fixed;
  left : 20%;
  max-height: 50%;
}

